/**
Import google fonts
**/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
/**
defalt format
**/
*{
    margin: 0;
    padding: 0;
    outline: none;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/**
root config
**/
:root{
    --color-blue: #2574ba;
    --color-blue-light: #5fcced;
    --color-blue-extra-light: #e9f6ff;
    --color-blue-dark: #005d6b;
    --color-red:  #d80505;
    --color-green:#008d36;
    --color-grey: #8a949b;
    --color-grey-light:#d6d6d2;
    --color-grey-extra-light:#ededec;
    --color-orange:#e16f0d;
    --color-black-light:#505050;
    --color-black: #000000;
    --color-yellow: #F5B946;
    --color-yellow-dark: #f4af03;

    --index-back: -1;
    --index-fold: 2;
    --index-menu: 3;
    --index-modal: 4;

    --hover-red: #c30707;

    --color-fsphp: #1D2025;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-strong: 600;
    --weight-bold: 700;
    --weight-black: 900;

    --hover-color-green: #61DDBC;
    --hover-color-blue: #66D4F1;
    --hover-color-yellow: #FCD277;
    --hover-color-red: #F76C82;
    --hover-color-yellow-dark: #d09500;
    --hover-duration: 0.3s;

    --gradient-green: linear-gradient(to right, #42E695 0%, #3BB2B8 50%, #42E695 100%);
    --gradient-blue: linear-gradient(to right, #17EAD9 0%, #6078EA 50%, #17EAD9 100%);
    --gradient-red: linear-gradient(to right, #622744 0%, #C53364 50%, #622744 100%);
    --gradient-yellow: linear-gradient(to right, #FCE38A 0%, #F38181 50%, #FCE38A 100%);

    --radius-normal: 5px;
    --radius-medium: 10px;
    --radius-large: 20px;
    --radius-round: 50%;

}

body{
    font-family: "Merriweather", sans-serif;
    font-size: 1em;
    font-weight: 400;
    overflow-x: hidden;
}
/**
clear
**/
ul{list-style: none;}
a{text-decoration: none;}
button{border: none;}

.main-container{
    width: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/*DEFAULT LOAD*/
.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: calc(4 * 2);
}

.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
    border: 16px solid #e3e3e3;
    border-top: 16px solid var(--color-blue);
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;

    -webkit-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
    margin-top: 15px;
    font-weight: 700;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a{text-decoration: none;}
li{list-style: none;}

.h1__none{
    display: none;
}

/**
flex
**/
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.no-wrap{
    flex-wrap: nowrap;
}

.greenHover:hover{
    background: var(--hover-color-green) !important;
}

.blueHover:hover{
    background: var(--hover-color-blue) !important;
}

.transition{
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}



/*GRADIENTS*/
.gradient {
    background-size: 200% auto;
    transition-duration: 0.5s;
}

.gradient-green {
    background-image: var(--gradient-green);
}

.gradient-blue {
    background-image: var(--gradient-blue);
}

.gradient-yellow {
    background-image: var(--gradient-yellow);
}

.gradient-red {
    background-image: var(--gradient-red);
}

.gradient-hover:hover {
    background-position: right center;
}

.group_button_header{
    width: 30%;
}

/** butons **/
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-medium);
    font-size: 1em;
    font-weight: 400;
    margin: 12px 0;
}

.button:hover  .i_l{
    opacity: 0;
}

.button:hover  .i_r{
    transition: .3s ease;
    margin-left: 5px;
}
.i_r{
    margin-left: -20px;
}

.box_i{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.button i{
    font-size: 1.6em;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 8px;
}

.btn_medium{
    padding: 12px 15px;
}

.btn_blue{
    background: var(--color-blue-light);
    color: #ffffff;
    transition: all .2s ease-in-out;
}

.btn_blue:hover{
    background: var(--hover-color-blue);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
}